.tag {
	padding: 3px 15px;
	margin-right: 5px;
	border-radius: 10px;
	box-shadow: 0 0 5px black;
	display: inline-block;
	cursor: pointer;
}

.textWhite {
	color: white;
}

.textBlack {
	color: black;
}

.white {
	background-color: white;
	color: black;
}
.black {
	background-color: black;
	color: white;
}
.red {
	background-color: red;
}
.green {
	background-color: green;
}
.gray {
	background-color: gray;
}
.blue {
	background-color: blue;
}
