.btn {
	background-color: transparent;
	padding: 10px 20px;
	cursor: pointer;
	transition: all 0.3s;
	user-select: none;
	&:hover {
		box-shadow: 0 0 10px black;
	}
	&:active {
		box-shadow: inset 0 0 10px black;
	}
}

.rounded {
	border-radius: 7px;
}

.square {
	border-radius: none;
}

.boxShadow {
	box-shadow: 0 0 5px black;
}

.border {
	border: 1px solid black;
}
